PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/edutalent-pakistan
JWT_SECRET=edutalent_jwt_secret_key_2026
JWT_EXPIRE=30d
JWT_ADMIN_SECRET=edutalent_admin_jwt_secret_2026
JWT_ADMIN_EXPIRE=30d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
CLIENT_URL=http://localhost:5184
MAX_QUESTIONS_PER_TEST=100
DEFAULT_TIME_PER_QUESTION=25
MAX_CHEAT_VIOLATIONS=3
